.statistics {
  background-color: rgb(241, 241, 241);
  padding: 20px;
  text-align: center;
}

.title {
  margin: 0;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}

.statList {
  display: flex;
  background-color: #fff;
  border-top: 1px solid rgb(207, 205, 205);
}

.item {
  display: block;

  width: calc(100% / 3);
  padding: 25px 0px;
  border-right: 1px solid rgb(207, 205, 205);
}

.item:last-child {
  border-right: none;
}

.percentage {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}
